__pycache__
*.pyc
db.sqlite3
sensitives.pickle
algo_test
geckodriver.exe
geckodriver.log
20171206_kospi_industry.txt
20171206_kosdaq_industry.txt
20171208_kospi_industry.txt
20171208_kosdaq_industry.txt
temp.py